.business-card {

    display: flex;
    flex-direction: column;
    max-width: 400px;
    max-height: 250px;
    border: 1px solid #333;
    padding: 30px;

    &__logo {
        margin-bottom: 15px;
        color: #013D32;
    }

    &__person {
        display: flex;
        justify-content: space-between;
    }

    .person {
        p {
            margin: 0;
            margin-bottom: 5px;
        }

        &__primary-info {
            margin-right: 30px;
        }

        &__current-position {
            color: #ccc;
            font-size: 14px;
        }
    }

    .contacts {

        &__personal {
            margin-bottom: 20px;
        }

        &__email {
            font-size: 14px;
            color: #013D32;
        }
    }

}
