.business-card {

    display: flex;
    flex-direction: column;
    min-width: 335px;
    border: 1px solid #333;
    padding: 25px;

    &__logo {
        margin-bottom: 15px;
        font-weight: bold;
        color: #013D32;
    }

    &__person {
        display: flex;
        justify-content: space-between;
    }

    .person {
        p {
            margin: 0;
            margin-bottom: 5px;
        }

        &__fullname {
            font-weight: bold;
        }

        &__primary-info {
            margin-right: 30px;
        }

        &__current-position {
            color: #707070;
            font-size: 14px;
        }
    }

    .contacts {

        &__personal {
            margin-bottom: 20px;
        }

        &__cell {
            font-weight: bold;
        }

        &__email {
            font-size: 14px;
            color: #013D32;
        }
    }

}
